@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="eventsApp">
<head>
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
    <script type="text/javascript" src="~/Scripts/EventController.js"></script>
    <script type="text/javascript" src="~/Scripts/filters.js"></script>
    <script type="text/javascript" src="~/Scripts/angularService.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-route-min.js"></script>
    
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <a href="#/NewEvent.html">Create Event</a>
        
    </div>
    <div>
        <div ng-view></div>
    </div>
</body>
</html>
