@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="eventsApp">
<head>
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
    <script type="text/javascript" src="~/Scripts/EventController.js"></script>
    <script type="text/javascript" src="~/Scripts/filters.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
